{% extends 'base.html.twig' %}

{% block title %}About Us{% endblock %}

{% block body %}
<h1 class="text-center mt-5 mb-5">About us</h1>
<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-0 shadow">
        <img src="https://avatars2.githubusercontent.com/u/48830612?s=460&v=4" class="card-img-top" alt="...">
        <div class="card-body text-center">
          <a href="https://github.com/levy5434" style="text-decoration: none;"><h5 class="card-title mb-0">levy5434</h5></a>
          <div class="card-text text-black-50">Web Developer</div>
        </div>
      </div>
    </div>
    </a>
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-0 shadow">
        <img src="https://avatars2.githubusercontent.com/u/48215721?s=460&v=4" class="card-img-top" alt="...">
        <div class="card-body text-center">
          <a href="https://github.com/gornik02" style="text-decoration: none;"><h5 class="card-title mb-0">gornik02</h5></a>
          <div class="card-text text-black-50">Web Developer</div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-0 shadow">
        <img src="https://avatars3.githubusercontent.com/u/47425722?s=460&v=4" class="card-img-top" alt="...">
        <div class="card-body text-center">
          <a href="https://github.com/Marolski" style="text-decoration: none;"><h5 class="card-title mb-0">Marolski</h5></a>
          <div class="card-text text-black-50">Web Developer</div>
        </div>
      </div>
    </div>
    </div>
</div>
{% endblock %}