{% extends 'base.html.twig' %}

{% block title %}Products{% endblock %}

{% block body %}
    {% if products %}
        <table id="products" class="table table-striped">
            <thead>
                <tr>
                    <th>Product Title</th>
                </tr>
            </thead>
            <tbody>
                {% for product in products %}
                    <tr>
                        <td>{{ product.name }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No products to display</p>
    {% endif %}
{% endblock %}