{# Marcin Brzóska #}

<footer class="border-top fixed-bottom text-muted">
    <div class="container text-center mt-3 mb-3">
        &copy; 2020 - Your Firm by Gabriel Radzięta, Krzysztof Lewiarz, Marcin Brzóska
    </div>
</footer>